.inputGroup label {
    display: block;
    width:100%;
    margin-top:15px;
    line-height:30px;
    text-transform: capitalize;
}

.inputGroup label b {
    color:#ff6600;
}

.inputGroup input {
    display: block;
    width:100%;
    margin-top:15px;
    line-height:30px;
    border:none;
    border-bottom:1px solid #d6d6d6;
    background-color: #f9f9f9;
}

.inputGroup .borderTransparent {
    border-bottom:1px solid transparent;
}

.inputGroup input:focus,
.inputGroup .borderTransparent:focus {
    outline: none;
    border-bottom:1px solid blue;
}