.container {
    width:70%;
    max-width:770px;
    margin:3rem auto;
}

.container h1 {
    margin-bottom:40px;
    font-size:1.5rem;
}

.container form .buttonContainer {
    width:100%;
    margin-top:30px;
}