.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .icon {
    font-size:1.4rem;
    margin-left:15px;
    cursor: pointer;
    font-weight:500;
    color:#777;
}

.container .icon.like {
    margin-left:0;
}

.container .icon.liked,
.container .icon.disliked {
    color:#00a0e6;
}

.container b {
    font-size:0.9rem;
    margin-left: 5px;
}