.container {
    width:66.6666%;
}

.container video {
    width:100%;
}

.container video:focus {
    outline: none;
}

@media screen and (max-width:770px) {
    .container {
        width:100%;
    }
}