.info {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.details {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.details span {
    margin-left:20px;
}

.details span p {
    color: #555;
}

.button {
    margin:20px 0;
}

