.dropzoneContainer {
    width:48vw;
    height:27vw;
    max-width:320px;
    max-height:180px;
    border: 1px solid #d6d6d6;
}

.dropzoneContainer div {
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzoneContainer .icon {
    font-weight: normal;
    font-size: 100px;
    color:#a6a6a6;
}

.dropzoneContainer:focus,
.dropzoneContainer div:focus {
    outline: none;
}