.card {
    display: flex;
    flex-direction:row;
    margin-left:20px;
    cursor: pointer;
    margin-bottom:10px;
}

.card .image {
    width:175px;
    max-width:175px;
    max-height:100px;
    position: relative;
}

.card .image img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.card .image span {
    font-size:12px;
    font-weight:600;
    position: absolute;
    padding:3px 3px;
    background:#000;
    color:#fff;
    bottom:5px;
    right:5px;
}

.card .info {
    width:55%;
    margin-left:10px;
}

.card .info h5 {
    margin-bottom:5px;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.card .info p {
    color:#555;
    font-weight: 600;
    font-size: 14px;
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.card .info span {
    color:#555;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card .info span b {
    padding:0 5px;
}

@media screen and (max-width:770px) {
    .card {
        margin-left:0;
    }
    .card .image {
        width:135px;
        max-height:80px;
        position: relative;
    }
    .card .info {
        width:calc(100% - 150px);
    }
}